<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>55555</string>
	<key>inAppPurchases</key>
	<false/>
	<key>QRScanner</key>
	<true/>
	<key>product</key>
	<string>ghu</string>
	<key>bundleId</key>
	<string>com.ghu.dev</string>
	<key>api_url</key>
	<string></string>
	<key>colors</key>
	<dict>
		<key>pending</key>
		<array>
			<integer>235</integer>
			<integer>140</integer>
			<integer>0</integer>
			<integer>255</integer>
		</array>
		<key>warning</key>
		<array>
			<integer>54</integer>
			<integer>54</integer>
			<integer>54</integer>
			<integer>255</integer>
		</array>
		<key>pickerHighlight</key>
		<array>
			<integer>51</integer>
			<integer>102</integer>
			<integer>153</integer>
			<integer>255</integer>
		</array>
		<key>lowlight</key>
		<array>
			<integer>190</integer>
			<integer>190</integer>
			<integer>190</integer>
			<integer>255</integer>
		</array>
		<key>highlight</key>
		<array>
			<integer>153</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>255</integer>
		</array>
		<key>loginPlaceholder</key>
		<array>
			<integer>56</integer>
			<integer>69</integer>
			<integer>77</integer>
			<integer>255</integer>
		</array>
		<key>login</key>
		<array>
			<integer>255</integer>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>version</key>
		<array>
			<integer>130</integer>
			<string>130</string>
			<string>130</string>
			<string>255</string>
		</array>
	</dict>
	<key>GHUPropertyid</key>
	<string>UA-234567-55</string>
	<key>GHUDispatchPeriod</key>
	<string>10</string>
</dict>
</plist>
